# winget install LiveKit.LiveKitCLI

livekit-agents[google,rime,silero,turn-detector]
livekit-plugins-noise-cancellation 
python-dotenv
langfuse
opentelemetry-sdk
uvicorn 
fastapi
# python -m livekit.agents download-files
pypdf